<h1>Editing kishangarh_marble</h1>

<%= render 'form' %>

<%#= link_to 'Back', makrana_marble_path %>

<%= link_to 'Destroy', kishangarh_marble_path(params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %>

