<div class="container">
  <div class="row">
   	<h1>Shakti Marble</h1>
		<nav class="navbar navbar-inverse" role="navigation">
		  <ul class="nav navbar-nav">
	      <li class="active"><a href="#">Home</a></li>
	      <li><a href="#">About</a></li>
	      <li class="dropdown">
          <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Product <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MAKRANA MARBLE</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">OTHER THAN MAKRANA MARBLE</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">GRANITE</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">IMPORTED MARBLE</a></li>
          </ul>
        </li>
	    </ul>
		</nav>
	  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	    <ol class="carousel-indicators">
	      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	      <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
	      <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
	    </ol>
	    <div class="carousel-inner">
	      <div class="item active">
	        <%= image_tag("/1.jpg") %>
	      </div>
	      <div class="item">
	        <%= image_tag("/2.jpg") %>
	      </div>
	      <div class="item">
	        <%= image_tag("/3.jpg") %>
	      </div>
	    </div>
	    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
	      <span class="glyphicon glyphicon-chevron-left"></span>
	    </a>
	    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
	      <span class="glyphicon glyphicon-chevron-right"></span>
	    </a>
	  </div>
	</div>
	<div class="row">
		<div class="container bg-white">
			<h2>About Us</h2>
			<div class="bs-example">
				<p>This firm dear customer shakti marble is firm which cutting and trading makrana marble granite and all other marble available in market.</p>
				<h4>Objectives:-</h4>
		    <ol>
		      <li>To make customer aware all kind of marble available in india and its price tag.</li>
		      <li>Provide free suggestion as to which kind of marble the customer shall purchache in the estimated range given by customer.</li>
		      <li>To protect customer from trap of the broker and supply best quality of marble in given price tag as determined by customer</li>
		      <li>And to make customer to aware all kind of marble and granite defect that are found in marble so that customer can protect tham self to get good quality of marble</li>
		    </ol>
		  </div>
		 </div>
	</div>
</div>
<div class="row footer_navigation">
	<div class="container">
		<div id="carousel-footer" class="carousel slide" data-ride="carousel">
	    <div class="carousel-inner">
	      <div class="item active">
	        <p><b>VISION</b><em> - Shakti Marble and granite has a very simple vision that is to gain customer trust by supplying good quality marble..</em></p>
	      </div>
	      <div class="item">
	        <p><b>MISSION</b><em> At present Shakti Marble and Granite is king of kumari marble. now this firm plans to become king in every kind of marble available in india</em></p>
	      </div>
	      <div class="item">
					<p><em>‘Grow your profile in the way that our existing business profile growth increases exponentially’.</em>
					<b>BY RATAN LAL CHAARKHA </b>(Chairman)
					</p>	
	      </div>
	    </div>
	  </div>
	</div>
</div>

<script type="text/javascript">
	$('.carousel').carousel({
  interval: 5000
	})
	$('.dropdown-toggle').dropdown()
</script>