<h1>Editing Marble Products</h1>

<%= render 'form' %>

<%#= link_to 'Back', makrana_marble_path %> |


<%= link_to 'Destroy', marble_product_path(params[:id]), method: :delete, data: { confirm: 'Are you sure?' } %>

