<%= render "layouts/header" %>
<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-left:20px"><h3>Albeta Marble</h3>
      </div>
      <div class="col-md-8" style="padding-top:15px; border-top: 1px solid #428bca;">
        <div class="col-md-6"><img src="/whitemarble.png"></div>
      <div class="col-md-12">
        <h4>Categories</h4>
        <ul>
          <li style="text-align: justify;">Makrana White Albeta </li>
          <li style="text-align: justify;">Makrana Brown Albeta </li>
        </ul>
        <p>
          <b>Makrana White Albeta</b>  Marble and fore color with small dark black lining .It is second top quality in makrana marble.
        </p>
        <p>
          <b>Cost of makrana albeta marble </b> :-Makrana white albeta marble price/cost is 150-500.
        </p>
        <p>
          <b>Makrana Brown Albeta</b> In makrana brown Albeta  marble the background color is brown based and fore color with small dark black lining .It is second top quality in makrana marble.
        </p>
        <p>
          <b>Price of makrana brown albeta marble </b>:-Makrana white albeta marble price/cost is 120-300.
        </p>
        <p>
          <b>Makrana Albeta Marble Tiles</b>  :-There are many size in makrana white albeta marble tiles. Here i defined the size of makrana albeta marble tiles .Tiles means the length and width of marble is greater than one feet square 
        </p>

      </div>
    </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 style="margin-top:0px;">Intrested?</h3><h3 class="panel-title">Get in Touch with the owner</h3>
    </div>
    <div class="panel-body">
      <form accept-charset="UTF-8" action="/properties/send_query" class="form form-horizontal" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <div class="form-group">
          <div class="col-md-12"><input class="form-control" id="email" name="email" placeholder="Email" type="text"></div>
        </div>
        <div class="form-group">
          <div class="col-md-12"><input class="form-control" id="name" name="name" placeholder="Name" type="text"></div>
        </div>
        <div class="form-group">
          <div class="col-md-12"><input class="form-control datetime" id="phone" name="phone" placeholder="Mobile No." type="text"></div>
        </div>
        <div class="form-actions form-actions-padding-sm">
          <div class="row">
            <div class="col-md-12">
              <input class="pull-right btn btn-warning" id="do_migration" name="commit" type="submit" value="Send Message">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>