<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-left:20px"><h3>Dungri Marble</h3></div>
      <div class="col-md-8" style="padding-top:15px; border-top: 1px solid #428bca;">
        <div class="col-md-6"><img src="/whitemarble.png"></div>
	      <div class="col-md-12">
	        <h4>Categories</h4>
	        <ul>
	          <li style="text-align: justify;">Makrana Dungri Marble </li>
	          <li style="text-align: justify;">Makrana Chuck Dungri Marble  </li>
	          <li style="text-align: justify;">Makrana Adanga Tiles </li>
	        </ul>
	        <p>
	          <b>Makrana Dungari Marble</b> is very famous product of makrana city.In Makrana dungari marble the background is white base with black lining. In Makrana Chuk Dungari Marble There are some more white glow with black lining.
	        </p>
	        <p>
	          <b>Makrana Dungri Marble Price/cost </b>:-The approximate cost of Makrana chuck dungari marble is 150-300 rupees per square feet.
	        </p>
	        <p>
	          <b>Makrana Chuck Dungri Marble</b>  :-In Makrana Chuk Dungari Marble There are some more white glow with black lining.
	        </p>
	        <p>
	          <b>Makrana Chuk Doongri Marble Price </b>:-The approximate cost of Makrana chuck dungari marble is 150-300 rupees per square feet.
	        </p>
	        <p>
	          <b> Makrana Adanga Tiles </b>:-There are many size in Makrana Dungari Marble/Makrana  Doongri Marble /Makrana Adanga Marble  tiles. Here i defined the size of makrana Adanga marble tiles .Tiles means the length and width of marble is greater than one feet square .In makrana adanga  marble there are nine different sizes such as 24*21 , 24*18 , 24*15 , 24*12 , 18*18 , 15*15 , 12*12 , 18*12 , 18*15 , 21*15 , 21*18 , 15*12 inches .
	        </p>
	        <p>
	          <b>Makrana Adanga Tiles Cost/Price </b>:-The cost of makrana doongri/Adanga Marble tiles is 20-50 rupees per square feet.
	        </p>
	        <p>
	          <b>Makrana Variety Marble Cost </b>:-The cost of makrana doongri/Adanga Marble variety is 15-20 rupees per square feet.
	        </p>
	        <p>
	          <b>Makrana Adanga Tiles Cost/Price </b>:-The cost of makrana doongri/Adanga Marble tiles is 20-50 rupees per square feet.
	        </p>
	      </div>
	    </div>
		  <div class="col-md-4">
		    <div class="panel panel-primary">
			    <div class="panel-heading">
			      <h3 style="margin-top:0px;">Intrested?</h3><h3 class="panel-title">Get in Touch with the owner</h3>
			    </div>
			    <div class="panel-body">
			      <form accept-charset="UTF-8" action="/properties/send_query" class="form form-horizontal" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
			        <div class="form-group">
			          <div class="col-md-12"><input class="form-control" id="email" name="email" placeholder="Email" type="text"></div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12"><input class="form-control" id="name" name="name" placeholder="Name" type="text"></div>
			        </div>
			        <div class="form-group">
			          <div class="col-md-12"><input class="form-control datetime" id="phone" name="phone" placeholder="Mobile No." type="text"></div>
			        </div>
			        <div class="form-actions form-actions-padding-sm">
			          <div class="row">
			            <div class="col-md-12">
			              <input class="pull-right btn btn-warning" id="do_migration" name="commit" type="submit" value="Send Message">
			            </div>
			          </div>
			        </div>
			      </form>
			    </div>
			  </div>
			</div>
		  <div class="col-md-4">
		    <div class="panel panel-primary">
		      <div class="panel-heading">
		        <h3 class="panel-title">Specifications</h3>
		      </div>
		      <div class="panel-body">
		        <p>This variety has good whiteness not as compared to albeto or white and slabs of this variety also form designer patterns which look very attractive when floor area is big and visible.</p>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>