<%= render "layouts/header" %>
<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-left:20px"><h3>Kumari Marble</h3>
      </div>
      <div class="col-md-8" style="padding-top:15px; border-top: 1px solid #428bca;">
        <div class="col-md-6"><img src="/borawar.png"></div>
      <div class="col-md-12">
        <h4>Categories</h4>
        <ul>
          <li style="text-align: justify;"><b>Borawar Kumari Marble </b></li>:-Borawar kumari marble is a name of place name BORAWAR.
          <li style="text-align: justify;"><b>Makrana Kumari Marble</b></li>:-Makrana kumari marble mines in makrana city.
        </ul>
        <p>
          <b>Borawar kumari</b>   is chipest makrana marble because it is bluish shading
It’s price range is 15~40 Rs / sq. feet
Name is borawar kumari because mines of these marble found in borawar a town near to makrana (7 km away from makrana station)
 				</p>
 				<p>
          <b>Mataver kumari </b> is higher grade than borawar kumari this kumari marble has white base and small crystal size than borawar kumari 
Cost is start from 50~100
)
 				</p>	

      </div>
    </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
	    <div class="panel-heading">
	      <h3 style="margin-top:0px;">Intrested?</h3><h3 class="panel-title">Get in Touch with the owner</h3>
	    </div>
	    <div class="panel-body">
	      <form accept-charset="UTF-8" action="/properties/send_query" class="form form-horizontal" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
	        <div class="form-group">
	          <div class="col-md-12"><input class="form-control" id="email" name="email" placeholder="Email" type="text"></div>
	        </div>
	        <div class="form-group">
	          <div class="col-md-12"><input class="form-control" id="name" name="name" placeholder="Name" type="text"></div>
	        </div>
	        <div class="form-group">
	          <div class="col-md-12"><input class="form-control datetime" id="phone" name="phone" placeholder="Mobile No." type="text"></div>
	        </div>
	        <div class="form-actions form-actions-padding-sm">
	          <div class="row">
	            <div class="col-md-12">
	              <input class="pull-right btn btn-warning" id="do_migration" name="commit" type="submit" value="Send Message">
	            </div>
	          </div>
	        </div>
	      </form>
	    </div>
	  </div>
	</div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Specifications</h3>
      </div>
      <div class="panel-body">
        <p>Makrana kumari marble is very(lowest) cheap marble in price base because crystal size of kumari marble is greater than other makrana marble type.</p>
      </div>
    </div>
  </div>