<%= render "layouts/header" %>
<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="margin-left:20px"><h3>White Marble</h3>
      </div>
      <div class="col-md-8" style="padding-top:15px; border-top: 1px solid #428bca;">
        <div class="col-md-6"><img src="/whitemarble.png"></div>
      <div class="col-md-12">
        <h4>Categories</h4>
        <ul>
          <li style="text-align: justify;">First Grade White Marble</li>

          <li style="text-align: justify;">Second Grade White Marble</li>

          <li style="text-align: justify;">Third Grade White Marle</li>
        </ul>
        <p>
          <b>First grade white</b> of makrana white marble is very white color marble.And the cost of first grade makrana white marble is 700-2000 per square feet.
        </p>
        <p>
          <b>Second grade makrana </b> white marble is less white than first grade white marble.And the price range of second grade makrana white marble is 400-700 per square feet.
        </p>
        <p>
          <b>Third Grade Makrana</b> White marble is less white than second  
grade white marble.And the price range of second grade makrana white marble is 150-400 per square feet.
        </p>

      </div>
    </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 style="margin-top:0px;">Intrested?</h3><h3 class="panel-title">Get in Touch with the owner</h3>
    </div>
    <div class="panel-body">
      <form accept-charset="UTF-8" action="/properties/send_query" class="form form-horizontal" method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <div class="form-group">
          <div class="col-md-12"><input class="form-control" id="email" name="email" placeholder="Email" type="text"></div>
        </div>
        <div class="form-group">
          <div class="col-md-12"><input class="form-control" id="name" name="name" placeholder="Name" type="text"></div>
        </div>
        <div class="form-group">
          <div class="col-md-12"><input class="form-control datetime" id="phone" name="phone" placeholder="Mobile No." type="text"></div>
        </div>
        <div class="form-actions form-actions-padding-sm">
          <div class="row">
            <div class="col-md-12">
              <input class="pull-right btn btn-warning" id="do_migration" name="commit" type="submit" value="Send Message">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>