/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require menu
 *= require magnific-popup
 */


@import "bootstrap";

body {
	font-size: 14px;
  font-family: "Droid Sans",Helvetica,Arial,sans-serif;
  color: #222;
  background-color: #F4F4F4;
  color: #3c3c3c;
}


.bg-white{
	margin: 30px 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

.footer_navigation {
padding: 14px 0;
background-color: #DCD8D5;
box-shadow: 0px 3px 4px #c5beb9;
margin: 14px 0px;
}

.footer {
  height: 100px;
  background: #154A63;
  color: #fff;
}

.header {
  border-top: 5px solid #81342A;
  background-color: #F4F4F4;
  padding-bottom: 2px;
  border-bottom: 1px solid #81342A;
}

.header .line {
  padding-bottom: 12px;
  border-bottom: 1px solid #81342A;
}

.header a {
  color: #fff;
}


.homer
{
float:right;
padding:5px;
font-size:12px;
font-weight:200;
color:#fff;
height:55px;
border-bottom-left-radius:15px;
-webkit-border-bottom-left-radius:15px;
-moz-border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
-webkit-border-bottom-right-radius:15px;
-moz-border-bottom-right-radius:15px;
background-color:#81342A;
background: -webkit-gradient(linear,left top,left bottom,from(#81342A),to(#69231A));
background: -moz-linear-gradient(top,#81342A,#69231A);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81342A',endColorstr='#69231A');
cursor:pointer;
}

.home
{
float:left;
padding:0 10px ;
}

/*.carousel-inner {
border-top-left-radius:50px;
-webkit-border-top-left-radius:50px;
-moz-border-top-left-radius:50px;
border-top-right-radius:50px;
-webkit-border-top-right-radius:50px;
-moz-border-top-right-radius:50px;
border-bottom-left-radius:50px;
-webkit-border-bottom-left-radius:50px;
-moz-border-bottom-left-radius:50px;
border-bottom-right-radius:50px;
-webkit-border-bottom-right-radius:50px;
-moz-border-bottom-right-radius:50px;
}*/


.home a
{
color:#fff;
font-size:12px;
float:left;
text-decoration:none;
}


.navbar-nav > li > a:hover {
    background-color: #81342A;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #569C1C;
}

.productPicBoxText>span, .grey {
display: inline;
float: left;
font-family: 'Clarendon-Bold';
font-weight: bold;
-webkit-font-smoothing: antialiased;
color: #F47AB2;
font-size: 16px;
margin: 0;
padding: 10px;
}

.fonter>span {
  font-size: 13px;
}

.grid
{
float:left;
width:222px;
}

.categories
{
box-shadow:1px 1px 1px rgba(0, 0, 0, .1);
-moz-box-shadow:1px 1px 1px rgba(0, 0, 0, .1);
-webkit-box-shadow:1px 1px 1px rgba(0, 0, 0, .1);
-o-box-shadow:1px 1px 1px rgba(0,0,0,.1);
border:1px solid #fff;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
background-image: -moz-linear-gradient(top, #fcfcfc, #f4f4f4); /* FF3.6 */
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f4f4f4),color-stop(1, #fcfcfc)); /* Saf4+, Chrome */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#f4f4f4')"; /* IE8 */
margin-bottom:3px;
padding-left: 0px;
}

.categories li
{
border-bottom: 1px solid #EBEAE8;
border-top:1px solid #fff;
}

.categories li:first-child
{
border-top:none;
}

.categories li:first-child a
{
font-size:14px;
padding:10px 10px 10px 15px;
}

.categories li:last-child
{
border-bottom:none;
}

.categories li a
{
text-decoration:none;
color:#4F5661;
padding:10px 10px 10px 20px;
position:relative;
display:block;
font-size:12px;
font-weight:bold;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all .2s ease-out;
-o-transition:all  .2s ease-out;
}
.categories li a:hover {
background-image: -moz-linear-gradient(top, #ee3c09, #b90909); /* FF3.6 */
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ee3c09),color-stop(1, #b90909)); /* Saf4+, Chrome */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee3c09', endColorstr='#b90909'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee3c09', endColorstr='#b90909')"; /* IE8 */
color:#fff;
border-top-right-radius:20px;
-webkit-border-top-right-radius:20px;
-moz-border-top-right-radius:20px;
-o-border-top-right-radius:20px;
border-bottom-right-radius:20px;
-webkit-border-bottom-right-radius:20px;
-moz-border-bottom-right-radius:20px;
margin-right:-12px;
}

.categories li a.active {
background-image: -moz-linear-gradient(top, #ee3c09, #b90909); /* FF3.6 */
background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ee3c09),color-stop(1, #b90909)); /* Saf4+, Chrome */
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee3c09', endColorstr='#b90909'); /* IE6,IE7 */
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee3c09', endColorstr='#b90909')"; /* IE8 */
color:#fff;
border-top-right-radius:20px;
-webkit-border-top-right-radius:20px;
-moz-border-top-right-radius:20px;
-o-border-top-right-radius:20px;
border-bottom-right-radius:20px;
-webkit-border-bottom-right-radius:20px;
-moz-border-bottom-right-radius:20px;
margin-right:-12px;
}

.breadcrumb
{
width:100%;
height:20px;
border-bottom:1px solid #DFDDDD;
float:left;
padding-bottom:10px;
margin-bottom:10px;
}
.breadcrumb ul li
{
list-style:none;
float:left;
padding:0 5px;
}

ul
{
  list-style: none;
}

article {
float: left;
width: 500px;
margin-left: 15px;
}

.para {
background: #4587a1;
padding: 10px 10px 10px 15px;
color: white;
letter-spacing: .1em;
}

.para h4 {
letter-spacing: .2em;
}

.zigzag {
  float: left;
  height: 11px;
  width: 100%;
  background: url(/rip-topmid.png) repeat-x;
}

.popup_login {
  width: auto;
  padding: 10px;
}

.popup_login input {
  margin: 10px;
}

.popup_login h3 {
  margin-top: 5px;
  font-size: 16px;
}

.special_menu {
  padding-bottom: 20px;
  padding-right: 2px;
}

.display_block {
  display: block;
}
.display_none {
  display: none;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
}



