/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */


@import "bootstrap";

body {
	background: url(/body-bg.png) repeat;
	color: #86786f;
	font-size: 14px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'droid_serif', serif;
}

.bg-white{
	background-color: #fff;
	margin: 30px 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

.footer_navigation {
padding: 14px 0;
background-color: #DCD8D5;
box-shadow: 0px 3px 4px #c5beb9;
margin: 14px 0px;
}
