/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */


@import "bootstrap";

body {
	font-size: 14px;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.bg-white{
	margin: 30px 0px;
}

.dropdown:hover .dropdown-menu {
    display: block;
 }

.footer_navigation {
padding: 14px 0;
background-color: #DCD8D5;
box-shadow: 0px 3px 4px #c5beb9;
margin: 14px 0px;
}

.footer {
  height: 100px;
  background: #154A63;
  color: #fff;
}

.header {
  background: #5EAB1F;
  color:#fff;
}
.header a {
  color: #fff;
}

.navbar-nav > li > a:hover {
    background-color: #569C1C;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
background-color: #569C1C;
}

.productPicBoxText>span, .grey {
display: inline;
float: left;
font-family: 'Clarendon-Bold';
font-weight: bold;
-webkit-font-smoothing: antialiased;
color: #F47AB2;
font-size: 16px;
margin: 0;
padding: 10px;}