<h1>Shakti Marble</h1>
<nav class="navbar navbar-inverse" role="navigation">
  <ul class="nav navbar-nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li class="dropdown">
      <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Product <b class="caret"></b></a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
        <li role="presentation"><%= link_to("MAKRANA MARBLE",makrana_marble_index_path) %></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">OTHER THAN MAKRANA MARBLE</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">GRANITE</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">IMPORTED MARBLE</a></li>
      </ul>
    </li>
  </ul>
</nav>