<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 style="margin-top:0px;">Interested?</h3><h3 class="panel-title">Get in Touch with the us</h3>
    </div>
      <%= render "layouts/query" %>
  </div>
</div>