<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta description="Shaktimarble,shaktimarble,marble, granite,kota stone,handicrafts,marble products,kishangarh marble">
    <meta title="Shaktimarble"></meta>
    <meta name="description" content="Shaktimarble">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Shaktimarble">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://shaktimarble.herokuapp.com/">
    <title>Shaktimarble</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "home_page" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "home_page" %>
  </body>
</html>
